<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} MNNIT Allahabad {% endblock title %} | Assignment Submission</title>

    <!-- Vendor Stylesheets -->

    <!-- External Stylesheets -->
    {% block ext_style %}


    {% endblock ext_style %}

</head>
<body>
{% block content %}
{% endblock content %}
</body>

<!----  Vendor Scripts -->

<!---- External Scripts -->
{% block ext_scripts %}

{% endblock ext_scripts %}

<!--- Internal Scripts -->
{% block int_scripts %}{% endblock int_scripts %}

</html>