<!DOCTYPE html>
<html lang="en">

{% comment %}
Template Heirarchy:
------------------
                 base
            /            \
           /              \
 logged_in_base         box_base
     /    \              /   \
    /      \            /     \
  dash_base past_base  login  signup
     /   \
    /     \
stud_dash teacher_dash


{% endcomment %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %} MNNIT Allahabad {% endblock title %} | Assignment Submission</title>

    <!-- Vendor Stylesheets -->
        <!-- BS 4 -->

    <!-- External Stylesheets -->

    {% block ext-style %}


    {% endblock ext-style %}


</head>
<body>
{% block content %}
{% endblock content %}
</body>

<!----  Vendor Scripts -->
    <!-- jQuery -->

    <!-- BS4 -->

<!---- External Scripts -->

{% block ext-scripts %}

{% endblock ext-scripts %}

<!--- Internal Scripts -->
{% block int-scripts %}{% endblock int-scripts %}

</html>