{% extends "accounts/logged_in_base.html" %}

{% comment %}
    Context:
        {
            user: User object whose dashboard to be shown
        }
{% endcomment %}


{% block title %}
    Dashboard
{% endblock title %}



{% block logged-in-content %}



    <!-- Button Row -->
    <div class="row" align="center">
        <a href="{% block href1 %}{% endblock href1 %}">
            <button>{% block btn1 %}{% endblock btn1 %}</button>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% block href2 %}{% endblock href2 %}">
            <button>{% block btn2 %}{% endblock btn2 %}</button>
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href="{% url "assignments:env-select" %}">
            <button>Download Environment</button>
        </a>
    </div>


    {# Extra Content to Put #}
    {% block dash-content %}

    {% endblock dash-content %}



{% endblock logged-in-content %}