{% extends "ASP/base.html" %}

{# Base template for Logged In User #}


{% comment %}
    Context:
    {
        user: User object of logged in user
    }
{% endcomment %}

{% block ext-style %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "accounts/css/logged_in_base.css" %}">
{% endblock %}



{% block content %}

    <di

    <!-- Nav Bar -->
    <div align="right">
        <a href="{% url "accounts:choose_dash" %}">Back to Dashboard</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url "accounts:logout" %}"><button>Logout</button></a>
    </div>

    {% block logged-in-content %}{% endblock logged-in-content %}
{% endblock %}