{% extends "assignments/assign_base.html" %}

{% comment %}
    context = {
    form : AssignmentForm
    }
{% endcomment %}

{% block title %}
    Add Assignment
{% endblock title %}

{% block assign-content-head %}Add A New Assignment{% endblock assign-content-head %}

{% block assign-content %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <label for="sub_t">Submission Time: &nbsp; </label>
            {% now "d/m/Y H:i:s" %}
            <br>
            <input type="submit" value="Submit Assignment">
        </form>

{% endblock assign-content %}