{% extends "assignments/assign_base.html" %}

{% comment %}
    Context:
        {
            form: EnvSelectForm
        }
{% endcomment %}


{% block title %}Evaluate{% endblock title %}


{% block assign-content-head %}
    Enter Assignment ID provided for evaluation of the Assignment
{% endblock assign-content-head %}




{% block assign-content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Get Info">
    </form>
{% endblock assign-content %}