{% extends "ASP/base.html" %}


{% block ext-style %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "assignments/css/index.css" %}">
{% endblock %}

{% block content %}

    <div class="row" id="nav-header">
        <div class="login-div offset-md-9 col-md-2">
             <a href="{% url "accounts:login" %}">
                <button class="btn btn-outline-dark col-md-12">
                    Login &nbsp;<i class="fas fa-user-circle" aria-hidden="true"></i>
                </button>
             </a>
        </div>
    </div>

    <div class="row col-md-6" id="main-head">
            <div class="row col-md-12" id="inst-head">
                MNNIT, Allahabad
            </div>
            <div class="hr col-md-4"></div>
            <div class="row col-md-12" id="project-head">
                Assignment Submission Portal
            </div>
            <div class="row col-md-12">
                <div class="col-md-4" id="get-started-div">
                    <a href="{% url "accounts:teacher_signup" %}">
                        <button class="btn btn-outline-dark col-md-12">
                            <span>Get Started &nbsp;</span>
                            <span class="glyph"><i class="fas fa-chevron-circle-right" aria-hidden="true"></i><br></span>
                            <span class="small">as Teacher</span>
                        </button>
                    </a>
                </div>
                <div class="col-md-4" id="get-started-div">
                    <a href="{% url "accounts:stud_signup" %}">
                        <button class="btn btn-outline-dark col-md-12">
                            <span>Get Started &nbsp;</span>

                                <span class="glyph"><i class="fas fa-chevron-circle-right" aria-hidden="true"></i><br></span>
                                <span class="small">as Student</span>
                        </button>
                    </a>
                </div>
            </div>
    </div>


{% endblock %}

